@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000;
}
i {
  font-size: 20px;
  cursor: pointer;
}

button {
  height: 42px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

input,
select {
  height: 45px;
  width: 100%;
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1px !important;
}
input:focus,
select:focus {
  border: 1px solid #333;
}

table {
  margin-top: 20px;
  /* border: 1px solid #eee; */
}

img {
  border-radius: 4px;
}
